- content_for :main do
  .header
    %h1 The Ed Show Wrapup - July 10, 2010 
    .tab-strip
      %a(href="#/comment/new" title="Add Comment") Comment
      %a(href="#/question/new" title="Ask a Question") Question
      %a(href="#/file/new" title="Upload a File") Image/File
      %a(href="#/link/new" title="Post a Link") Link
      %a(href="#/video/new" title="Post a Video") Video
    .tab-area
      %textarea(name="comment[text]" id="comment_text" rows="3" placeholder="Leave a Comment...")
      #question_text
        This is a question
      #file_url
        This is a file
      #link_url
        This is a link
      #video_url
        This is a video
    %a.button.tertiary(href="#" title="Save to the Stream") Save
  %hr
  %ul.event-details
    %li
      %strong Event:
      %em The Ed Show
    %li
      %strong When:
      July 10, 2010, 7:00 PM
    %li
      %strong Where:
      %a.text.button(href="#" title="MSNBC") MSNBC TV
  %ul.conversation-stream
    %li
      .article.comment
        .meta
          .comment-type Official
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/nemeth-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="George Nemeth's Profile")
            %strong George Nemeth
          %span.action reported:
        %p.content Chris welcomes everyone to the Ed Show.  Introduces himself as tonights host, in for Ed. Schultz.
        %p
          %a.text.button.conversation-action(href="#" title="Respond to this Post") Respond
          %a(href="#" class="privileged" title="Delete this comment") Delete
    %li
      .article.issue.conversation-ticker
        .date
          %p
            Jul
            %span.day 10
        %p Started discussing a new issue:
        %p
          %a(href="#" title="Starting talking about Labor Department announces new jobless claims up to 472,000")
            Labor Department announces new jobless claims up to 472,000
    %li
      .article.comment
        .meta
          .comment-type Official
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/nemeth-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="George Nemeth's Profile")
            %strong George Nemeth
          %span.action reported:
        %p.content 
          Chris reports bad news on the job front. The partisans of misery, also known as the Republican Party, attempting to push the nation back over the economic brink.  After several weeks in which new jobless claims stayed steady at 460,000, today the Labor Department announced new claims had jumped up to 472,000.  Economists are now bracing for a bad monthly jobs report tomorrow.
        %p
          %a.text.button.conversation-action(href="#" title="Respond to this Post") Respond
          %a(href="#" class="privileged" title="Delete this comment") Delete
    %li
      .article.comment
        .meta
          .comment-type Official
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/nemeth-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="George Nemeth's Profile")
            %strong George Nemeth
          %span.action reported:
        %p.content 
          Senate Republicans and Nebraska Democrat Ben Nelson teamed up last night to filibuster an extension of unemployment insurance.  It‘s roughly akin to voting against funding for sandbags in the midst of the worst flood in 30 years. 
        %p
          %a.text.button.conversation-action(href="#" title="Respond to this Post") Respond
          %a(href="#" class="privileged" title="Delete this comment") Delete
    %li
      .article.comment
        .meta
          .comment-type Official
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/nemeth-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="George Nemeth's Profile")
            %strong George Nemeth
          %span.action reported:
        %p.content 
          After voting, they left town for recess.  
        %p
          %a.text.button.conversation-action(href="#" title="Respond to this Post") Respond
          %a(href="#" class="privileged" title="Delete this comment") Delete
    %li
      .article.comment
        .meta
          .comment-type Official
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/nemeth-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="George Nemeth's Profile")
            %strong George Nemeth
          %span.action reported:
        %p.content 
          Chris believes this is compassionless and idiotic, but it is also terrible macro economic policy.  As the Recovery Act spending tapers off and job growth begins to flat line, we now face the very real and very terrifying possibility of a double dip recession.  
        %p
          %a.text.button.conversation-action(href="#" title="Respond to this Post") Respond
          %a(href="#" class="privileged" title="Delete this comment") Delete
    %li
      .article.comment
        .meta
          .comment-type Official
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/nemeth-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="George Nemeth's Profile")
            %strong George Nemeth
          %span.action reported:
        %p.content 
          So far, the history of the economic crisis has gone like this.  First, there was a financial crisis.  Then, things started to go very badly very, very quickly.  We were losing 800,000 jobs a month.  Then, thanks in large part to the Recovery Act, things started to go less badly, less quickly.  We started losing less and less jobs.  
        %p
          %a.text.button.conversation-action(href="#" title="Respond to this Post") Respond
          %a(href="#" class="privileged" title="Delete this comment") Delete
    %li
      .article.comment
        .meta
          .comment-type Official
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/nemeth-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="George Nemeth's Profile")
            %strong George Nemeth
          %span.action reported:
        %p.content 
          Things actually started getting better.  We started adding jobs and GDP began to grow again.  But that last bit of momentum has stalled and in the absence of further aggressive government action, we will very likely start to tumble back into the same vicious cycle we saw in late 2008.  
        %p
          %a.text.button.conversation-action(href="#" title="Respond to this Post") Respond
          %a(href="#" class="privileged" title="Delete this comment") Delete
    %li
      .article.comment
        .meta
          .comment-type Official
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/nemeth-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="George Nemeth's Profile")
            %strong George Nemeth
          %span.action reported:
        %p.content 
          %a(href="#")These are the new jobless claims.  
          They spiked when the crisis began and started declining and now, the last few weeks, they‘re inching upward again.  We were on the cliff.  We edged away.  Now we‘re sliding back towards the precipice.  And what is the reaction of the Grand Obstructionist Party?  They seem to want to deliver the final shove.  
        %p
          %a.text.button.conversation-action(href="#" title="Respond to this Post") Respond
          %a(href="#" class="privileged" title="Delete this comment") Delete
    %li
      .article.comment
        .meta
          .comment-type.question
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/fiorini-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="Chris Hayes' Profile")
            %strong Chris Hayes
          %span.action asked a question to
          - succeed(":") do
            %a(href="#" title="Sen. Debbie Stabenow") Sen. Debbie Stabenow
        %p.content 
          - precede "Sen. Debbie Stabenow:" do
            %br
            Was it a surprise, the vote last night, or was it basically what you had expected?  I mean, was this done hoping you were going to swing a vote or was it done to make a point?  
        %p
          %a.text.button.conversation-action(href="#" title="Answer Chris Hayes Question") Answer
          %a(href="#" class="privileged" title="Delete this comment") Delete
        %ol.replies
          %li
            .article.question.reply
              .meta
                .comment-type.reply
                %a.rating(href="#" title="Rate this answer") +0
              %img(src="/images/wilson-avatar-small.png" alt="Reply from Sen. Debbie Stabenow")
              %p
                %a(href="#" title="Sen. Debbie Stabenow's Profile")
                  %strong Sen. Debbie Stabenow
              %p.content
                Well, we hoped that we could get one more vote.  I knew going in that we had our two colleagues from Maine - and I want to thank them for their support - but with the passing of Senator Byrd, we knew we had to have one more Republican and we knew it was going to be tough.  But, as you said in your opening, and I want to thank you for that because I couldn‘t agree with you more, I mean, we‘ve spent nine weeks - nine weeks, trying to overcome a filibuster by Republicans on a jobs bill that would focus on investments and innovation, help for manufacturers, help for small businesses and helping people out of work.  Nine weeks, and we‘ve not been able to overcome this filibuster yet.  
          %li
            .article.question.reply
              .meta
                .comment-type.answer
                %a.rating(href="#" title="Rate this answer") +0
              %img(src="/images/fiorini-avatar-small.png" alt="Reply from Chris Hayes")
              %p
                %a(href="#" title="Chris Hayes")
                  %strong Chris Hayes
              %p.content
                Senator Stabenow, I have to ask you this because it‘s true, obviously, the Republicans are driving this filibuster.  But you do have a Democratic colleague, Senator Ben Nelson, who voted against the bill.  Had he voted for it, it would have passed.  He is the - this - we had 59 votes.  He would have been the 60.  
          %li
            .article.question.reply
              .meta
                .comment-type.reply
                %a.rating(href="#" title="Rate this answer") +0
              %img(src="/images/wilson-avatar-small.png" alt="Reply from Sen. Debbie Stabenow")
              %p
                %a(href="#" title="Sen. Debbie Stabenow's Profile")
                  %strong Sen. Debbie Stabenow
              %p.content
                Right.  That‘s true.   
          %li
            .article.question.reply
              .meta
                .comment-type.answer
                %a.rating(href="#" title="Rate this answer") +0
              %img(src="/images/fiorini-avatar-small.png" alt="Reply from Chris Hayes")
              %p
                %a(href="#" title="Chris Hayes")
                  %strong Chris Hayes
              %p.content
                What do you say - what do you say to Senator Nelson in the caucus room? 
          %li
            .article.question.reply
              .meta
                .comment-type.reply
                %a.rating(href="#" title="Rate this answer") +0
              %img(src="/images/wilson-avatar-small.png" alt="Reply from Sen. Debbie Stabenow")
              %p
                %a(href="#" title="Sen. Debbie Stabenow's Profile")
                  %strong Sen. Debbie Stabenow
              %p.content
                Well, you know, I‘ve given him my best case.  I mean, I‘ve said, you know, we‘re never going to get out of deficits unless we have 15 million people working.  You know, we - with 15 million people plus, we know it‘s actually more than that, out of work, we will never get out of deficits.  
              %p.content
                And so, for folks concerned about deficits, they should start with focusing on jobs and the jobs crisis and then we will begin to get ourselves out of this deficit hole.
          %li
            .article.question.reply
              .meta
                .comment-type.answer
                %a.rating(href="#" title="Rate this answer") +0
              %img(src="/images/fiorini-avatar-small.png" alt="Reply from Chris Hayes")
              %p
                %a(href="#" title="Chris Hayes")
                  %strong Chris Hayes
              %p.content
                So my understanding of the plan going forward, and I want you to kind of guide us through here, the Senate‘s in recess, is it going to be the case that the - the late Senator Byrd will be replaced by a Democratic senator in time when you to - to vote on this package when you come back and provide the 60th vote?  Is that how things are looking now?  STABENOW:  Yes.  We expect that the Monday after next that we will have a replacement for Senator Byrd, and once that individual is put into place and sworn in, then Senator Reid intends to take this bill up right away.  He is very committed, as am I, and all of the rest of our caucus to get this done.  
              %p.content
                It‘s really shameful.  I mean, I think about tens of thousands of people in my state that are going to lose help next week, and these are people - most of whom have never lost a job in their life.  They worked hard all their life, and they‘re just trying to hold it together until they can get that next job.   
    %li
      .article.comment
        .meta
          .comment-type.question
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/fiorini-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="Chris Hayes' Profile")
            %strong Chris Hayes
          %span.action asked a question to
          - succeed(":") do
            %a(href="#" title="Sen. Debbie Stabenow") Sen. Debbie Stabenow
        %p.content 
          - precede "Sen. Debbie Stabenow:" do
            %br
            Do you think there is - have you noticed a correlation between the job situation in the home state of some of your colleagues and the urgency with which they‘re dealing?  Obviously you and Senator Reid are representing two states that have been the hardest hit by this.  
        %p
          %a.text.button.conversation-action(href="#" title="Answer Chris Hayes Question") Answer
          %a(href="#" class="privileged" title="Delete this comment") Delete
        %ol.replies
          %li
            .article.question.reply
              .meta
                .comment-type.reply
                %a.rating(href="#" title="Rate this answer") +0
              %img(src="/images/wilson-avatar-small.png" alt="Reply from Sen. Debbie Stabenow")
              %p
                %a(href="#" title="Sen. Debbie Stabenow's Profile")
                  %strong Sen. Debbie Stabenow
              %p.content
                Right. 
-content_for :sidebar do
  .aside.guides
    %strong Guides
    %ul.link-list
      %li
        %a(href="#" title="Dan Moulthrop") Dan Moulthrop
        = delete_button_for(:guide_id => 13)
      %li
        %a(href="#" title="George Nemeth") George Nemeth
        = delete_button_for(:guide_id => 12)
    %a(href="#" title="Add Guide" class="privileged") Add Guide
  .aside.spotlight
    %strong Spotlight
    %ul.link-list
      %li
        %a(href="#" title="Chris Hayes") Chris Hayes
        = delete_button_for(:guide_id => 1)
      %li
        %a(href="#" title="Ed Schultz") Ed Schultz
        = delete_button_for(:guide_id => 2)
      %li
        %a(href="#" title="Sen. Debbie Stabenow") Sen. Debbie Stabenow
        = delete_button_for(:spotlight_id => 3)
      %li
        %a(href="#" title="Annie Lowrey") Annie Lowrey
        = delete_button_for(:spotlight_id => 4)
      %li
        %a(href="#" title="Rep. Chris Van Hollen") Rep. Chris Van Hollen
        = delete_button_for(:spotlight_id => 5)
      %li
        %a(href="#" title="Xavier Becerra") Xavier Becerra
        = delete_button_for(:spotlight_id => 6)
      %li
        %a(href="#" title="Brian Bilbray") Brian Bilbray
        = delete_button_for(:spotlight_id => 7)
      %li
        %a(href="#" title="Ann Friedman") Ann Friedman
        = delete_button_for(:spotlight_id => 8)
      %li
        %a(href="#" title="Alex Wagner") Alex Wagner
        = delete_button_for(:spotlight_id => 9)
      %li
        %a(href="#" title="Roger Hickey") Roger Hickey
        = delete_button_for(:spotlight_id => 10)
      %li
        %a(href="#" title="Gary Rivlin") Gary Rivlin
        = delete_button_for(:spotlight_id => 11)
    %a(href="#" title="Add Guide" class="privileged") Add to Spotlight
