- content_for :main do
  .header
    %h1 The Ed Show Wrapup - July 10, 2010 
    %select(name="comment[type]" id="comment_type")
      %option Comment
      %option Question
      %option Other
    %textarea(name="comment[text]" id="comment_text" rows="3")
      Leave a comment...
    %a.button.tertiary(href="#" title="Save to the Stream") Save
  %hr
  %ul.event-details
    %li
      %strong Event:
      %em The Ed Show
    %li
      %strong When:
      July 10, 2010, 7:00 PM
    %li
      %strong Where:
      %a.text.button(href="#" title="MSNBC") MSNBC TV
  %ul.conversation-stream
    %li
      .article.comment
        .meta
          .comment-type Official
          %a.rating(href="#" title="Rate this comment") +0
        %img(src="/images/nemeth-avatar-small.png" alt="Official Comment from George Nemeth")
        %p
          %a(href="#" title="George Nemeth's Profile")
            %strong Dan Moulthrop
          %span.action reported:
        %p.content Chris welcomes everyone to the Ed Show.  Introduces himself as tonights host, in for Ed. Schultz.
        %p
          %a.text.button.conversation-action(href="#" title="Respond to this Post") Respond
          %a(href="#" class="privileged" title="Delete this comment") Delete
    %li
      .article.issue.conversation-ticker
        .date
          %p
            Jul
            %span.day 10
        %p Started discussing a new issue:
        %p
          %a(href="#" title="Starting talking about Labor Department announces new jobless claims up to 472,000")
            Labor Department announces new jobless claims up to 472,000
-content_for :sidebar do
  .aside.guides
    %strong Guides
    %ul
      %li
        %a(href="#" title="Dan Moulthrop") Dan Moulthrop
        = delete_button_for(:guide_id => 13)
      %li
        %a(href="#" title="George Nemeth") George Nemeth
        = delete_button_for(:guide_id => 12)
    %a(href="#" title="Add Guide" class="privileged") Add Guide
  .aside.spotlight
    %strong Spotlight
    %ul
      %li
        %a(href="#" title="Chris Hayes") Chris Hayes
        = delete_button_for(:guide_id => 1)
      %li
        %a(href="#" title="Ed Schultz") Ed Schultz
        = delete_button_for(:guide_id => 2)
      %li
        %a(href="#" title="Sen. Debbie Stabenow") Sen. Debbie Stabenow
        = delete_button_for(:spotlight_id => 3)
      %li
        %a(href="#" title="Annie Lowrey") Annie Lowrey
        = delete_button_for(:spotlight_id => 4)
      %li
        %a(href="#" title="Rep. Chris Van Hollen") Rep. Chris Van Hollen
        = delete_button_for(:spotlight_id => 5)
      %li
        %a(href="#" title="Xavier Becerra") Xavier Becerra
        = delete_button_for(:spotlight_id => 6)
      %li
        %a(href="#" title="Brian Bilbray") Brian Bilbray
        = delete_button_for(:spotlight_id => 7)
      %li
        %a(href="#" title="Ann Friedman") Ann Friedman
        = delete_button_for(:spotlight_id => 8)
      %li
        %a(href="#" title="Alex Wagner") Alex Wagner
        = delete_button_for(:spotlight_id => 9)
      %li
        %a(href="#" title="Roger Hickey") Roger Hickey
        = delete_button_for(:spotlight_id => 10)
      %li
        %a(href="#" title="Gary Rivlin") Gary Rivlin
        = delete_button_for(:spotlight_id => 11)
    %a(href="#" title="Add Guide" class="privileged") Add to Spotlight
