.main.section.conversation
  .conversation-head
    %h1 Mayoral Round-up
    %p
      George and Dan meetup with a panel of Cleveland mayors to discuss potential ways of stimulating the economy throughout the city.
    %select(name="comment[type]" id="comment_type")
      %option Official
      %option Other
    %textarea(name="comment[text]" id="comment_text")
      Leave a comment...
    %a.button.tertiary(href="#" title="Save to the Stream") Save
    %hr
  .aside.supplementary
    .aside.guides
      %strong Guides
      %ul
        %li
          %a(href="#" title="George Nemeth") George Nemeth
          = delete_button_for(:guide_id => 1)
        %li
          %a(href="#" title="Dan Moulthroup") Dan Moulthroup
          = delete_button_for(:guide_id => 2)
      %a(href="#" title="Add Guide" class="privileged") Add Guide
    .aside.spotlight
      %strong Spotlight
      %ul
        %li
          %a(href="#" title="Frank Jackson") Frank Jackson
          = delete_button_for(:spotlight_id => 3)
        %li
          %a(href="#" title="Jane Campbell") Jane Campbell
          = delete_button_for(:spotlight_id => 4)
        %li
          %a(href="#" title="Michael White") Michael White
          = delete_button_for(:spotlight_id => 5)
      %a(href="#" title="Add Guide" class="privileged") Add to Spotlight
