<input type='text' maxlength='10' id='<%= field_name %>_date' name='<%= field_name %>_date' /> 
<select id='<%= field_name %>_hour' name='<%= field_name %>_hour'>
	<option value='01'>1</option>
	<option value='02'>2</option>
	<option value='03'>3</option>
	<option value='04'>4</option>
	<option value='05'>5</option>
	<option value='06'>6</option>
	<option value='07'>7</option>
	<option value='08'>8</option>
	<option value='09'>9</option>
	<option value='10'>10</option>
	<option value='11'>11</option>
	<option value='12'>12</option>
</select> : 
<select id='<%= field_name %>_min' name='<%= field_name %>_min'>
	<option value='00'>00</option>
	<option value='15'>15</option>
	<option value='30'>30</option>
	<option value='45'>45</option>
</select> 
<select id='<%= field_name %>_ampm' name='<%= field_name %>_ampm'>
	<option value='am'>A.M.</option>
	<option value='pm'>P.M.</option>
</select>