<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>When:</b>
  <%= @event.when %>
</p>

<p>
  <b>Where:</b>
  <%= @event.where %>
</p>

<p>
  <b>Moderator:</b>
  <%= @event.moderator_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
