<!DOCTYPE html>
<html>
  <head>
    <title>Civiccommons</title>

    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'rails' %>

    <!--[if gte IE 7]><!-->
    <link media="screen, projection" rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
    <!--<![endif]-->

    <%= yield :header %>

    <%= csrf_meta_tag %>

  </head>
  <body>

    <div class="header">

    </div>
    <!-- /.header -->


    <div class="nav">

    </div>
    <!-- /.nav -->


    <div class="section">

      <%= yield %>

    </div>
    <!-- /.section -->


    <div class="footer">

    </div>
    <!-- /.footer -->

  </body>
</html>
