<!DOCTYPE html>
<html>
  <head>
    <title>Civiccommons</title>

    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'rails' %>

    <!--[if gte IE 7]><!-->
    <link media="screen, projection" rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
    <!--<![endif]-->

    <%= yield :header %>

    <%= csrf_meta_tag %>

  </head>
  <body>

    <div id="logo" class="header">
      <a href="/" class="title" title="Civic Commons - Real Logo Coming Soon">Civic Commons</a>
      <span class="subtitle">Real Logo Coming Soon</span>
    </div>
    <!-- /.header -->

    <div id="body" class="section">
      <%= yield %>
    </div>


    <div id="footer" class="footer">

      <div class="section">
      </div>

    </div>
    <!-- /.footer -->

    <div id="subfooter" class="footer">
      <p>The Civic Commons is Copyright 2010 by the Legal Entity.  Content is licensed under License.</p>
    </div>

  </body>
</html>
